@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('ProductSans-Bold.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Product Sans Regular';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #100025;
    background: #f6f5fa;

  }
}